textarea {
  border: 1px solid var(--vp-c-border);
  border-radius: 4px;
  padding: 4px 8px;
}
@media (min-width: 1440px) {
  html,
  body {
    font-size: 14px;
  }
}
@media (min-width: 1920px) {
  :root {
    --vp-layout-max-width: 1900px;
  }
  #VPContent .VPDoc.has-aside .content-container {
    max-width: 1200px;
  }
}
/*重置默认主题的字体大小*/
.theme-default-content {
  font-size: 15px;
}
/*reset sidebar style*/
.sidebar-heading {
  font-weight: 500;
  font-size: 16px;
}
p.sidebar-item:not(.sidebar-heading) {
  color: var(--c-bg-arrow);
}
.sidebar-item:not(.sidebar-heading) {
  font-size: 15px;
}

/** flex
***************************/
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
  align-content: center;
}
.flex-justify-content-between {
  justify-content: space-between;
}

.vp-doc .el-table table {
  margin: 0;
}

/*Margin*/
.margin-top-small {
  margin-top: 8px;
}
.margin-top {
  margin-top: 12px;
}
.margin-top-large {
  margin-top: 24px;
}

.margin-left-small {
  margin-left: 8px;
}
.margin-left {
  margin-left: 12px;
}
.margin-left-large {
  margin-left: 24px;
}

/*Padding*/
.padding-top-small {
  padding-top: 8px;
}
.padding-top {
  padding-top: 12px;
}
.padding-top-large {
  padding-top: 24px;
}

.padding-left-small {
  padding-left: 8px;
}
.padding-left {
  padding-left: 12px;
}
.padding-left-large {
  padding-left: 24px;
}
