@font-face {
    font-family: 'ivy-icon';
    src:
        url('./fonts/iconfont.ttf?i5kook') format('truetype'),
        url('./fonts/iconfont.svg?i5kook#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='ivy-icon-'],
[class*=' ivy-icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ivy-icon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ivy-icon-add-location:before {
    content: '\e900';
}
.ivy-icon-aim:before {
    content: '\e901';
}
.ivy-icon-alarm-clock:before {
    content: '\e902';
}
.ivy-icon-apple:before {
    content: '\e903';
}
.ivy-icon-arrow-down:before {
    content: '\e904';
}
.ivy-icon-arrow-down-bold:before {
    content: '\e905';
}
.ivy-icon-arrow-left:before {
    content: '\e906';
}
.ivy-icon-arrow-left-bold:before {
    content: '\e907';
}
.ivy-icon-arrow-right:before {
    content: '\e908';
}
.ivy-icon-arrow-right-bold:before {
    content: '\e909';
}
.ivy-icon-arrow-up:before {
    content: '\e90a';
}
.ivy-icon-arrow-up-bold:before {
    content: '\e90b';
}
.ivy-icon-avatar:before {
    content: '\e90c';
}
.ivy-icon-back:before {
    content: '\e90d';
}
.ivy-icon-baseball:before {
    content: '\e90e';
}
.ivy-icon-basketball:before {
    content: '\e90f';
}
.ivy-icon-bell:before {
    content: '\e910';
}
.ivy-icon-bell-filled:before {
    content: '\e911';
}
.ivy-icon-bicycle:before {
    content: '\e912';
}
.ivy-icon-bottom:before {
    content: '\e913';
}
.ivy-icon-bottom-left:before {
    content: '\e914';
}
.ivy-icon-bottom-right:before {
    content: '\e915';
}
.ivy-icon-bowl:before {
    content: '\e916';
}
.ivy-icon-box:before {
    content: '\e917';
}
.ivy-icon-briefcase:before {
    content: '\e918';
}
.ivy-icon-brush-filled:before {
    content: '\e919';
}
.ivy-icon-burger:before {
    content: '\e91a';
}
.ivy-icon-calendar:before {
    content: '\e91b';
}
.ivy-icon-camera:before {
    content: '\e91c';
}
.ivy-icon-camera-filled:before {
    content: '\e91d';
}
.ivy-icon-caret-bottom:before {
    content: '\e91e';
}
.ivy-icon-caret-left:before {
    content: '\e91f';
}
.ivy-icon-caret-right:before {
    content: '\e920';
}
.ivy-icon-caret-top:before {
    content: '\e921';
}
.ivy-icon-cellphone:before {
    content: '\e922';
}
.ivy-icon-chat-dot-round:before {
    content: '\e923';
}
.ivy-icon-chat-dot-square:before {
    content: '\e924';
}
.ivy-icon-chat-line-round:before {
    content: '\e925';
}
.ivy-icon-chat-line-square:before {
    content: '\e926';
}
.ivy-icon-chat-round:before {
    content: '\e927';
}
.ivy-icon-chat-square:before {
    content: '\e928';
}
.ivy-icon-check:before {
    content: '\e929';
}
.ivy-icon-checked:before {
    content: '\e92a';
}
.ivy-icon-cherry:before {
    content: '\e92b';
}
.ivy-icon-chicken:before {
    content: '\e92c';
}
.ivy-icon-chrome-filled:before {
    content: '\e92d';
}
.ivy-icon-circle-check:before {
    content: '\e92e';
}
.ivy-icon-circle-check-filled:before {
    content: '\e92f';
}
.ivy-icon-circle-close:before {
    content: '\e930';
}
.ivy-icon-circle-close-filled:before {
    content: '\e931';
}
.ivy-icon-circle-plus:before {
    content: '\e932';
}
.ivy-icon-circle-plus-filled:before {
    content: '\e933';
}
.ivy-icon-clock:before {
    content: '\e934';
}
.ivy-icon-close:before {
    content: '\e935';
}
.ivy-icon-close-bold:before {
    content: '\e936';
}
.ivy-icon-cloudy:before {
    content: '\e937';
}
.ivy-icon-coffee:before {
    content: '\e938';
}
.ivy-icon-coffee-cup:before {
    content: '\e939';
}
.ivy-icon-coin:before {
    content: '\e93a';
}
.ivy-icon-cold-drink:before {
    content: '\e93b';
}
.ivy-icon-collection:before {
    content: '\e93c';
}
.ivy-icon-collection-tag:before {
    content: '\e93d';
}
.ivy-icon-comment:before {
    content: '\e93e';
}
.ivy-icon-compass:before {
    content: '\e93f';
}
.ivy-icon-connection:before {
    content: '\e940';
}
.ivy-icon-coordinate:before {
    content: '\e941';
}
.ivy-icon-copy-document:before {
    content: '\e942';
}
.ivy-icon-cpu:before {
    content: '\e943';
}
.ivy-icon-credit-card:before {
    content: '\e944';
}
.ivy-icon-crop:before {
    content: '\e945';
}
.ivy-icon-d-arrow-left:before {
    content: '\e946';
}
.ivy-icon-d-arrow-right:before {
    content: '\e947';
}
.ivy-icon-data-analysis:before {
    content: '\e948';
}
.ivy-icon-data-board:before {
    content: '\e949';
}
.ivy-icon-data-line:before {
    content: '\e94a';
}
.ivy-icon-d-caret:before {
    content: '\e94b';
}
.ivy-icon-delete:before {
    content: '\e94c';
}
.ivy-icon-delete-filled:before {
    content: '\e94d';
}
.ivy-icon-delete-location:before {
    content: '\e94e';
}
.ivy-icon-dessert:before {
    content: '\e94f';
}
.ivy-icon-discount:before {
    content: '\e950';
}
.ivy-icon-dish:before {
    content: '\e951';
}
.ivy-icon-dish-dot:before {
    content: '\e952';
}
.ivy-icon-document:before {
    content: '\e953';
}
.ivy-icon-document-add:before {
    content: '\e954';
}
.ivy-icon-document-checked:before {
    content: '\e955';
}
.ivy-icon-document-copy:before {
    content: '\e956';
}
.ivy-icon-document-delete:before {
    content: '\e957';
}
.ivy-icon-document-remove:before {
    content: '\e958';
}
.ivy-icon-down:before {
    content: '\e959';
}
.ivy-icon-down-circle:before {
    content: '\e95a';
}
.ivy-icon-download:before {
    content: '\e95b';
}
.ivy-icon-drizzling:before {
    content: '\e95c';
}
.ivy-icon-edit:before {
    content: '\e95d';
}
.ivy-icon-edit-pen:before {
    content: '\e95e';
}
.ivy-icon-eleme:before {
    content: '\e95f';
}
.ivy-icon-eleme-filled:before {
    content: '\e960';
}
.ivy-icon-element-plus:before {
    content: '\e961';
}
.ivy-icon-expand:before {
    content: '\e962';
}
.ivy-icon-failed:before {
    content: '\e963';
}
.ivy-icon-female:before {
    content: '\e964';
}
.ivy-icon-files:before {
    content: '\e965';
}
.ivy-icon-film:before {
    content: '\e966';
}
.ivy-icon-filter:before {
    content: '\e967';
}
.ivy-icon-finished:before {
    content: '\e968';
}
.ivy-icon-first-aid-kit:before {
    content: '\e969';
}
.ivy-icon-flag:before {
    content: '\e96a';
}
.ivy-icon-fold:before {
    content: '\e96b';
}
.ivy-icon-folder:before {
    content: '\e96c';
}
.ivy-icon-folder-add:before {
    content: '\e96d';
}
.ivy-icon-folder-checked:before {
    content: '\e96e';
}
.ivy-icon-folder-delete:before {
    content: '\e96f';
}
.ivy-icon-folder-opened:before {
    content: '\e970';
}
.ivy-icon-folder-remove:before {
    content: '\e971';
}
.ivy-icon-food:before {
    content: '\e972';
}
.ivy-icon-football:before {
    content: '\e973';
}
.ivy-icon-fork-spoon:before {
    content: '\e974';
}
.ivy-icon-fries:before {
    content: '\e975';
}
.ivy-icon-full-screen:before {
    content: '\e976';
}
.ivy-icon-goblet:before {
    content: '\e977';
}
.ivy-icon-goblet-full:before {
    content: '\e978';
}
.ivy-icon-goblet-square:before {
    content: '\e979';
}
.ivy-icon-goblet-square-full:before {
    content: '\e97a';
}
.ivy-icon-gold-medal:before {
    content: '\e97b';
}
.ivy-icon-goods:before {
    content: '\e97c';
}
.ivy-icon-goods-filled:before {
    content: '\e97d';
}
.ivy-icon-grape:before {
    content: '\e97e';
}
.ivy-icon-grid:before {
    content: '\e97f';
}
.ivy-icon-guide:before {
    content: '\e980';
}
.ivy-icon-handbag:before {
    content: '\e981';
}
.ivy-icon-headset:before {
    content: '\e982';
}
.ivy-icon-help:before {
    content: '\e983';
}
.ivy-icon-help-filled:before {
    content: '\e984';
}
.ivy-icon-hide:before {
    content: '\e985';
}
.ivy-icon-histogram:before {
    content: '\e986';
}
.ivy-icon-home-filled:before {
    content: '\e987';
}
.ivy-icon-hot-water:before {
    content: '\e988';
}
.ivy-icon-house:before {
    content: '\e989';
}
.ivy-icon-ice-cream:before {
    content: '\e98a';
}
.ivy-icon-ice-cream-round:before {
    content: '\e98b';
}
.ivy-icon-ice-cream-square:before {
    content: '\e98c';
}
.ivy-icon-ice-drink:before {
    content: '\e98d';
}
.ivy-icon-ice-tea:before {
    content: '\e98e';
}
.ivy-icon-info-filled:before {
    content: '\e98f';
}
.ivy-icon-iphone:before {
    content: '\e990';
}
.ivy-icon-key:before {
    content: '\e991';
}
.ivy-icon-knife-fork:before {
    content: '\e992';
}
.ivy-icon-left:before {
    content: '\e993';
}
.ivy-icon-left-circle:before {
    content: '\e994';
}
.ivy-icon-lightning:before {
    content: '\e995';
}
.ivy-icon-link:before {
    content: '\e996';
}
.ivy-icon-list:before {
    content: '\e997';
}
.ivy-icon-loading:before {
    content: '\e998';
}
.ivy-icon-location:before {
    content: '\e999';
}
.ivy-icon-location-filled:before {
    content: '\e99a';
}
.ivy-icon-location-information:before {
    content: '\e99b';
}
.ivy-icon-lock:before {
    content: '\e99c';
}
.ivy-icon-lollipop:before {
    content: '\e99d';
}
.ivy-icon-magic-stick:before {
    content: '\e99e';
}
.ivy-icon-magnet:before {
    content: '\e99f';
}
.ivy-icon-male:before {
    content: '\e9a0';
}
.ivy-icon-management:before {
    content: '\e9a1';
}
.ivy-icon-map-location:before {
    content: '\e9a2';
}
.ivy-icon-medal:before {
    content: '\e9a3';
}
.ivy-icon-memo:before {
    content: '\e9a4';
}
.ivy-icon-menu:before {
    content: '\e9a5';
}
.ivy-icon-message:before {
    content: '\e9a6';
}
.ivy-icon-message-box:before {
    content: '\e9a7';
}
.ivy-icon-mic:before {
    content: '\e9a8';
}
.ivy-icon-microphone:before {
    content: '\e9a9';
}
.ivy-icon-milk-tea:before {
    content: '\e9aa';
}
.ivy-icon-minus:before {
    content: '\e9ab';
}
.ivy-icon-money:before {
    content: '\e9ac';
}
.ivy-icon-monitor:before {
    content: '\e9ad';
}
.ivy-icon-moon:before {
    content: '\e9ae';
}
.ivy-icon-moon-night:before {
    content: '\e9af';
}
.ivy-icon-more:before {
    content: '\e9b0';
}
.ivy-icon-more-filled:before {
    content: '\e9b1';
}
.ivy-icon-mostly-cloudy:before {
    content: '\e9b2';
}
.ivy-icon-mouse:before {
    content: '\e9b3';
}
.ivy-icon-mug:before {
    content: '\e9b4';
}
.ivy-icon-mute:before {
    content: '\e9b5';
}
.ivy-icon-mute-notification:before {
    content: '\e9b6';
}
.ivy-icon-no-smoking:before {
    content: '\e9b7';
}
.ivy-icon-notebook:before {
    content: '\e9b8';
}
.ivy-icon-notification:before {
    content: '\e9b9';
}
.ivy-icon-odometer:before {
    content: '\e9ba';
}
.ivy-icon-office-building:before {
    content: '\e9bb';
}
.ivy-icon-open:before {
    content: '\e9bc';
}
.ivy-icon-operation:before {
    content: '\e9bd';
}
.ivy-icon-opportunity:before {
    content: '\e9be';
}
.ivy-icon-orange:before {
    content: '\e9bf';
}
.ivy-icon-paperclip:before {
    content: '\e9c0';
}
.ivy-icon-partly-cloudy:before {
    content: '\e9c1';
}
.ivy-icon-pear:before {
    content: '\e9c2';
}
.ivy-icon-phone:before {
    content: '\e9c3';
}
.ivy-icon-phone-filled:before {
    content: '\e9c4';
}
.ivy-icon-picture:before {
    content: '\e9c5';
}
.ivy-icon-picture-filled:before {
    content: '\e9c6';
}
.ivy-icon-picture-rounded:before {
    content: '\e9c7';
}
.ivy-icon-pie-chart:before {
    content: '\e9c8';
}
.ivy-icon-place:before {
    content: '\e9c9';
}
.ivy-icon-platform:before {
    content: '\e9ca';
}
.ivy-icon-plus:before {
    content: '\e9cb';
}
.ivy-icon-pointer:before {
    content: '\e9cc';
}
.ivy-icon-position:before {
    content: '\e9cd';
}
.ivy-icon-postcard:before {
    content: '\e9ce';
}
.ivy-icon-pouring:before {
    content: '\e9cf';
}
.ivy-icon-present:before {
    content: '\e9d0';
}
.ivy-icon-price-tag:before {
    content: '\e9d1';
}
.ivy-icon-printer:before {
    content: '\e9d2';
}
.ivy-icon-promotion:before {
    content: '\e9d3';
}
.ivy-icon-quartz-watch:before {
    content: '\e9d4';
}
.ivy-icon-question-filled:before {
    content: '\e9d5';
}
.ivy-icon-rank:before {
    content: '\e9d6';
}
.ivy-icon-reading:before {
    content: '\e9d7';
}
.ivy-icon-reading-lamp:before {
    content: '\e9d8';
}
.ivy-icon-refresh:before {
    content: '\e9d9';
}
.ivy-icon-refresh-left:before {
    content: '\e9da';
}
.ivy-icon-refresh-right:before {
    content: '\e9db';
}
.ivy-icon-refrigerator:before {
    content: '\e9dc';
}
.ivy-icon-remove:before {
    content: '\e9dd';
}
.ivy-icon-remove-filled:before {
    content: '\e9de';
}
.ivy-icon-right:before {
    content: '\e9df';
}
.ivy-icon-right-circle:before {
    content: '\e9e0';
}
.ivy-icon-scale-to-original:before {
    content: '\e9e1';
}
.ivy-icon-school:before {
    content: '\e9e2';
}
.ivy-icon-scissor:before {
    content: '\e9e3';
}
.ivy-icon-search:before {
    content: '\e9e4';
}
.ivy-icon-select:before {
    content: '\e9e5';
}
.ivy-icon-sell:before {
    content: '\e9e6';
}
.ivy-icon-semi-select:before {
    content: '\e9e7';
}
.ivy-icon-service:before {
    content: '\e9e8';
}
.ivy-icon-setting:before {
    content: '\e9e9';
}
.ivy-icon-set-up:before {
    content: '\e9ea';
}
.ivy-icon-share:before {
    content: '\e9eb';
}
.ivy-icon-ship:before {
    content: '\e9ec';
}
.ivy-icon-shop:before {
    content: '\e9ed';
}
.ivy-icon-shopping-bag:before {
    content: '\e9ee';
}
.ivy-icon-shopping-cart:before {
    content: '\e9ef';
}
.ivy-icon-shopping-cart-full:before {
    content: '\e9f0';
}
.ivy-icon-shopping-trolley:before {
    content: '\e9f1';
}
.ivy-icon-smoking:before {
    content: '\e9f2';
}
.ivy-icon-soccer:before {
    content: '\e9f3';
}
.ivy-icon-sold-out:before {
    content: '\e9f4';
}
.ivy-icon-sort:before {
    content: '\e9f5';
}
.ivy-icon-sort-down:before {
    content: '\e9f6';
}
.ivy-icon-sort-up:before {
    content: '\e9f7';
}
.ivy-icon-stamp:before {
    content: '\e9f8';
}
.ivy-icon-star:before {
    content: '\e9f9';
}
.ivy-icon-star-filled:before {
    content: '\e9fa';
}
.ivy-icon-stopwatch:before {
    content: '\e9fb';
}
.ivy-icon-success-filled:before {
    content: '\e9fc';
}
.ivy-icon-sugar:before {
    content: '\e9fd';
}
.ivy-icon-suitcase:before {
    content: '\e9fe';
}
.ivy-icon-suitcase-line:before {
    content: '\e9ff';
}
.ivy-icon-sunny:before {
    content: '\ea00';
}
.ivy-icon-sunrise:before {
    content: '\ea01';
}
.ivy-icon-sunset:before {
    content: '\ea02';
}
.ivy-icon-switch:before {
    content: '\ea03';
}
.ivy-icon-switch-button:before {
    content: '\ea04';
}
.ivy-icon-switch-filled:before {
    content: '\ea05';
}
.ivy-icon-takeaway-box:before {
    content: '\ea06';
}
.ivy-icon-ticket:before {
    content: '\ea07';
}
.ivy-icon-tickets:before {
    content: '\ea08';
}
.ivy-icon-timer:before {
    content: '\ea09';
}
.ivy-icon-toilet-paper:before {
    content: '\ea0a';
}
.ivy-icon-tools:before {
    content: '\ea0b';
}
.ivy-icon-top:before {
    content: '\ea0c';
}
.ivy-icon-top-left:before {
    content: '\ea0d';
}
.ivy-icon-top-right:before {
    content: '\ea0e';
}
.ivy-icon-trend-charts:before {
    content: '\ea0f';
}
.ivy-icon-trophy:before {
    content: '\ea10';
}
.ivy-icon-trophy-base:before {
    content: '\ea11';
}
.ivy-icon-turn-off:before {
    content: '\ea12';
}
.ivy-icon-umbrella:before {
    content: '\ea13';
}
.ivy-icon-unlock:before {
    content: '\ea14';
}
.ivy-icon-up:before {
    content: '\ea15';
}
.ivy-icon-up-circle:before {
    content: '\ea16';
}
.ivy-icon-upload:before {
    content: '\ea17';
}
.ivy-icon-upload-filled:before {
    content: '\ea18';
}
.ivy-icon-user:before {
    content: '\ea19';
}
.ivy-icon-user-filled:before {
    content: '\ea1a';
}
.ivy-icon-van:before {
    content: '\ea1b';
}
.ivy-icon-video-camera:before {
    content: '\ea1c';
}
.ivy-icon-video-camera-filled:before {
    content: '\ea1d';
}
.ivy-icon-video-pause:before {
    content: '\ea1e';
}
.ivy-icon-video-play:before {
    content: '\ea1f';
}
.ivy-icon-view:before {
    content: '\ea20';
}
.ivy-icon-wallet:before {
    content: '\ea21';
}
.ivy-icon-wallet-filled:before {
    content: '\ea22';
}
.ivy-icon-warning:before {
    content: '\ea23';
}
.ivy-icon-warning-filled:before {
    content: '\ea24';
}
.ivy-icon-warn-triangle-filled:before {
    content: '\ea25';
}
.ivy-icon-watch:before {
    content: '\ea26';
}
.ivy-icon-watermelon:before {
    content: '\ea27';
}
.ivy-icon-wind-power:before {
    content: '\ea28';
}
.ivy-icon-zoom-in:before {
    content: '\ea29';
}
.ivy-icon-zoom-out:before {
    content: '\ea2a';
}
